version: '3.7'

services:
  varnish:
    image: your_ecr_repo
    platform: linux/amd64
    build:
      context: .
      dockerfile: Dockerfile-varnish
    ports:
      - target: 80
        x-aws-protocol: http
    environment:
      - ORIGIN_DOMAIN=your_origin_domain
      - PURGEABLE_NETWORK="192.168.0.0"/24
    deploy:
      x-aws-autoscaling:
        min: 1
        max: 3
        cpu: 75
    depends_on:
      - "app"
  app:
    image: your_ecr_repo
    platform: linux/amd64
    build:
      context: .
      dockerfile: Dockerfile-golang
    deploy:
      x-aws-autoscaling:
        min: 1
        max: 5
        cpu: 75

x-aws-cloudformation:
  Resources:
    Varnish80TargetGroup:
      Properties:
        Protocol: HTTP
        HealthCheckPath: /health
        Matcher:
          HttpCode: 200
